$board-size: 80px;
$background-light: #E3B371;
$background-dark: #AB6533;
$active-color: lime;

body {
	font-family: sans-serif;
	font-size: 1.2em;
}
p {
	margin: 0.6em 0.3em;
}

.board {
	background: $background-light;
	margin: $board-size / 2 auto 0;
	width: $board-size * 10;
	position: relative;
	border: 0.5em solid $background-dark;
	box-shadow: 0 0 10px darken($background-dark, 20%);
	border-radius: 0.5em;
}
.selected {
	z-index: 1000;
	background: red;
}
.place {
	width: $board-size;
	height: $board-size;
	float: left;
	background: $background-light;
	position: relative;
	&.dark {
		background: $background-dark;
	}
}

.pieces {
	position: absolute;
	top: 0;
	left: 0;
}
.piece {
	border-radius: 50%;
	width: $board-size * 0.9;
	height: $board-size * 0.9;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: $board-size * 0.05;
	margin-left: $board-size * 0.05;
	transition: transform 0.2s ease;
	cursor: move;
	cursor: grab;
	box-shadow: 0 0 10px darken($background-dark, 20%);
	&:before {
		opacity: 0;
		transition: opacity 0.2s ease;
		content: '';
		position: absolute;
		top: -0.2em;
		left: -0.2em;
		width: $board-size * 0.96;
		height: $board-size * 0.96;
		border: 0.1em solid $active-color;
	}
	&:after {
		position: absolute;
		top: 10%;
		left: 10%;
		width: 60%;
		height: 60%;
		border-radius: 50%;
		border: ($board-size / 10) solid;
		content: '';
	}
	&.black {
		background: black;
		&:after {
			border-color: rgba(255,255,255,0.2);
		}
	}
	&.white {
		background: white;
		&:after {
			border-color: rgba(0,0,0,0.1);
		}
	}
	&:hover:before {
		opacity: 1;
	}
	&.active {
		cursor: grabbing;
		pointer-events: none;
		transition-duration: 0.02s;
		&:before {
			opacity: 1;
		}
	}
}

.possible {
	border-radius: 50%;
	width: $board-size * 0.9;
	height: $board-size * 0.9;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: $board-size * 0.05;
	margin-left: $board-size * 0.05;
	transition: transform 0.2s ease;
	cursor: move;
	cursor: grab;
	box-shadow: 0 0 10px darken($background-dark, 20%);
	background-color: rgba(255,255,255,0);
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: $board-size / 4;
		height: $board-size / 4;
		border-radius: 50%;
		background: $active-color;
	}
}